html,
body,
#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body,
#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html.dark {
  color-scheme: dark;
}

.colorsTransition {
  @apply transition transition-property-[background-color,color] transition-duration-200ms;
}

.btn {
  @apply px-4 py-1 rounded inline-block bg-brand-600 dark:bg-brand-700 text-white cursor-pointer not-disabled:hover:not-active:bg-brand-700 not-disabled:dark:hover:not-active:bg-brand-600 disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50 outline-brand-600/40 dark:outline-brand-500/50 outline-solid outline-0 focus:outline-4 transition-property-[background-color,color,outline-width];
}

.btn-circle {
  @apply rounded-full aspect-square;
}

.icon-btn {
  @apply text-[0.9em] inline-block cursor-pointer select-none hover:not-active:text-brand-600;
}

.btn-with-icon {
  @apply inline-flex gap-2 items-center;
}

select {
  @apply px-2 py-1 rounded dark:bg-neutral-800 border border-brand-500/60 dark:border-brand-300/30;
}

textarea {
  @apply h-40;
}

.link {
  @apply text-brand-500 underline;
}

kbd {
  @apply inline-flex items-center border-solid border-1 border-brand-500 rounded px-2 py-0.5 gap-1;
}

li {
  @apply my-1;
}

.header2 {
  @apply text-xl pb-2 border-b-1 border-brand-500 flex items-center 2xl:text-3xl xl:text-2xl 2xl:pb-3 dark:border-brand-300/50;
}

.v-popper__popper .v-popper__inner {
  @apply p-0 bg-neutral-900 border-1 border-brand-400 rounded-3;
}
